page-setup {
  ion-content {
    // background-color: #411641 !important;
  }

  p {
    // color: #A8FFF1;
  }

  h1 {
    // color: #A8FFF1;
    text-align: center;
  }

  .password-container .text-input {
    text-align: center;
    padding-right: 0;
  }

  .bold {
    font-weight: bold;
  }
}
