<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button (click)="lock()" class="lock-button" ion-button button-clear end>
        <ion-icon name="lock"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Welcome</h3>

  <p>
    How are you feeling today?
  </p>

  <p *ngIf="notEmpty">
    Your last entry was made {{mostRecentEntryDate | amTimeAgo}}.
  </p>

  <button ion-button block secondary (click)="goToNewEntry()">New Entry</button>
</ion-content>
