<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="notEmpty">
    <ion-card *ngFor="let entry of entries" (click)="itemTapped($event, entry)">
      <ion-card-header>
        {{entry.date.toLocaleDateString() + ' ' + entry.date.toLocaleTimeString()}}
      </ion-card-header>

      <ion-card-content>
        {{entry.text}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div *ngIf="!notEmpty" class="empty" padding>
    No entries have been made yet.
  </div>
</ion-content>
